<div id="tabs" class="ui-tabs ui-widget ui-widget-content ui-corner-all">
<div id="login" class="ui-tabs-panel ui-widget-content ui-corner-bottom">
 <% if (alert!=nil) %>
        <div class="response-msg error ui-corner-all">
            <span>Error: </span>
            <%=  alert %>
        </div>
         <%
         end
            if (notice!=nil) %>
            <div class="response-msg success ui-corner-all">
                <span>Information: </span>
                <%= notice %>
            </div>
         <% end %>
  <%= form_for("user", :url => user_session_path,:id=>"frmlogin",:html => {:id => "frmlogin"} ) do |f| %>
  <ul>
    <li>
  <%= f.label :email %>
    </li>
    <li>
  <%= f.text_field :email,:class=>"field email text full required" %>
   </li>
      <li>
  <%= f.label :password %>
     </li>
   <li>
  <%= f.password_field :password,:class=>"field text full required" %>
     </li>
     <li>
  <%= f.check_box :remember_me %>       
  <%= f.label :remember_me %>
     </li>
       <li>
  <%= f.submit 'Sign in',:class=>"ui-state-default ui-corner-all float-left ui-button" %>
     </li>
     <li>
  <%= link_to "Forgot your password?", new_password_path('user') %>
       </li>    
  </ul>
<% end %>  
</div>
</div>
<script type="text/javascript">
    $("#frmlogin").validate();
</script>