<p id="notice"><%= notice %></p>

<p>
  <b>Link:</b>
  <%= @link.link %>
</p>

<p>
  <b>Status:</b>
  <%= @link.status %>
</p>

<p>
  <b>Parsed:</b>
  <%= @link.parsed %>
</p>


<%= link_to 'Edit', edit_link_path(@link) %> |
<%= link_to 'Back', links_path %>
